body {
    font-family: "American Typewriter";
    font-size: 1.5rem;
    background: #d2bd75;
}
.top_nav_gradient{
    margin: auto;
    max-width: 100%;
    height: auto;
    position: relative;
}

.middle_links{
    position: absolute;
    top: 1rem;
    left:40rem;
    text-align: center;
}
.middle_links ul{
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}