body {
    font-family: "American Typewriter";
    font-size: 1.5rem;
    background: #d2bd75;
}
.top_nav_gradient{
    margin: auto;
    max-width: 50%;
    max-height: 25%;
    position: relative;
}

.middle_links{
    position: absolute;
    top: 1rem;
    left:40rem;
    text-align: center;
}